IMMICH_API_KEY=your_immich_api_key_here
# Homepage Secrets
HA_TOKEN=your_ha_token_here
RADARR_API_KEY=your_radarr_api_key_here
SONARR_API_KEY=your_sonarr_api_key_here
PROWLARR_API_KEY=your_prowlarr_api_key_here
QBIT_PASSWORD=your_qbit_password_here

AUDIOBOOKSHELF_USERNAME=your_audiobookshelf_username_here
AUDIOBOOKSHELF_PASSWORD=your_audiobookshelf_password_here
AUDIOBOOKSHELF_API_KEY=your_audiobookshelf_api_key_here

OPENVPN_USER=your_openvpn_user_here
OPENVPN_USERNAME=your_openvpn_username_here
OPENVPN_PASSWORD=your_openvpn_password_here
VPN_SERVICE_PROVIDER=ipvanish
SERVER_COUNTRIES="United States"
TZ=America/Los_Angeles
VPN_TYPE=openvpn
FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24

# Homepage Specific Variables
HOMEPAGE_VAR_IMMICH_API_KEY=your_immich_api_key_here
HOMEPAGE_VAR_HA_TOKEN=your_ha_token_here
HOMEPAGE_VAR_SONARR_API_KEY=your_sonarr_api_key_here
HOMEPAGE_VAR_PROWLARR_API_KEY=your_prowlarr_api_key_here
HOMEPAGE_VAR_QBIT_PASSWORD=your_qbit_password_here
HOMEPAGE_VAR_UNIFI_USERNAME=your_unifi_username_here
HOMEPAGE_VAR_UNIFI_PASSWORD=your_unifi_password_here
HOMEPAGE_VAR_RADARR_API_KEY=your_radarr_api_key_here
HOMEPAGE_VAR_PAPERLESS_TOKEN=your_paperless_token_here
HOMEPAGE_VAR_PLEX_KEY=your_plex_key_here
HOMEPAGE_VAR_PORTAINER_API_KEY=your_portainer_api_key_here
HOMEPAGE_VAR_AUDIOBOOKSHELF_API_KEY=your_audiobookshelf_api_key_here


# For use with capow/discord
DISCORD_BOT_TOKEN=your_discord_bot_token_here
